<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectalpha">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activity.UsersActivity.BatereSelectActivity" />
        <activity android:name=".Activity.AdminActivity.ViewVerifikasiLaporanActivity" />
        <activity
            android:name=".Activity.Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.ValidatorActivity.MainValidatorActivity" />
        <activity
            android:name=".Activity.AdminActivity.UpdateContactActivity" />
        <activity
            android:name=".Activity.AdminActivity.UpdateMenuContactActivity" />
        <activity
            android:name=".Activity.ManagerActivity.ShowEmployeeActivity" />
        <activity
            android:name=".Activity.ManagerActivity.STOSelectedActivity" />
        <activity
            android:name=".Activity.ManagerActivity.WitelSelectedActivity" />
        <activity
            android:name=".Activity.ManagerActivity.HistoryActivity" />
        <activity
            android:name=".Activity.AdminActivity.ResetUserActivity" />
        <activity
            android:name=".Activity.AdminActivity.ResetMenuUserActivity" />
        <activity
            android:name=".Activity.AdminActivity.UpdateUserActivity" />
        <activity
            android:name=".Activity.AdminActivity.InfoUserActivity" />
        <activity
            android:name=".Activity.AdminActivity.UpdateMenuUserActivity" />
        <activity
            android:name=".Activity.AdminActivity.CreateUserActivity" />
        <activity
            android:name=".Activity.ManagerActivity.STOActivity" />
        <activity
            android:name=".Activity.ManagerActivity.WitelActivity" />
        <activity
            android:name=".Activity.ManagerActivity.MainManagerActivity" />
        <activity
            android:name=".Activity.UsersActivity.BirSuhuSelectActivity" />
        <activity
            android:name=".Activity.UsersActivity.MainUserActivity" />
        <activity
            android:name=".Activity.UsersActivity.SelectFormActivity" />
        <activity
            android:name=".Activity.UsersActivity.FormActivity.BbmActivity" />
        <activity
            android:name=".Activity.UsersActivity.FormActivity.CatatanActivity" />
        <activity
            android:name=".Activity.UsersActivity.FormActivity.CatuanActivity" />
        <activity
            android:name=".Activity.UsersActivity.FormActivity.KondisiUmumActivity" />
        <activity
            android:name=".Activity.UsersActivity.FormActivity.BIRActivity" />
        <activity
            android:name=".Activity.UsersActivity.FormActivity.KontakPentingActivity" />
        <activity
            android:name=".Activity.AdminActivity.MainAdminActivity" />
        <activity
            android:name=".Activity.LoginActivity" />
    </application>

</manifest>